:root {
  --font: "Roboto Mono", monospace, sans-serif;

  --bg-primery: #efefef;
  --bg-secondary: #000;
  --bg-tertiary: #fff;

  --text-main: #000;
  --text-secondary: #fff;
  --text-accent: #f00;
  --line: #e6eaec;

  --container: 1100px;
  --gutter: clamp(1rem, 3vw, 2rem);

  --r: 12px;

  /*12px - 16px*/
  --fs-16: clamp(1.2rem, 1.3vw, 1.6rem);
  /*14px - 18px*/
  --fs-18: clamp(1.4rem, 2.1vw, 1.8rem);
  /*20px - 24px*/
  --fs-24: clamp(2rem, 2.5vw, 2.4rem);
  /*26px - 32px*/
  --fs-32: clamp(2.6rem, 3vw, 3.2rem);

  --px-12: clamp(0.8rem, 1.5vw, 1.2rem);
  --px-24: clamp(1.6rem, 2vw, 2.4rem);
  --px-32: clamp(2.4rem, 3vw, 3.2rem);
  --px-50: clamp(4rem, 5vw, 5rem);
  --px-72: clamp(5rem, 7vw, 7.2rem);
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  min-width: 598px;
  margin: 0;
  font-family: var(--font);
  font-size: var(--fs-16);
  line-height: 1.55;
  color: var(--text-main);
  background: var(--bg-primery);
}
h1,
h2,
h3,
p {
  margin: 0;
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: min(var(--container), 100% - (var(--gutter) * 2));
  margin-inline: auto;
}

.site-header {
  position: sticky;
  top: 0;
  background-color: var(--bg-tertiary);
}

/* Header */
.hero {
  background: var(--bg-secondary);
}

.hero__inner {
  padding: var(--px-24) 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url("./img/hero-bg.webp");
  background-size: cover;
}

.hero__subtitle {
  font-weight: 400;
  font-size: clamp(1.6rem, 2.8vw, 3.5rem);
  text-align: justify;
  color: var(--text-secondary);
}

.hero__title {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: clamp(4.6rem, 8vw, 10rem);
  color: var(--text-secondary);

  span{
    font-size: clamp(2.1rem, 3.6vw, 4.5rem);
  }
}

.hero__image {
  width: 40%;
  max-width: 406px;
  aspect-ratio: 406/584;
  object-fit: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--px-24) 0;

  font-weight: 500;
  font-size: var(--fs-24);
  color: var(--text-main);


}

.navigation__links {
  display: flex;
  gap: var(--px-50);

  li {
    font-weight: 400;
    font-size: var(--fs-24);

    a:hover {
      text-decoration: underline;
    }
  }
}

/* Sections */
.section {
  padding: var(--px-50) 0;
}

.section__title {
  font-weight: 700;
  font-size: var(--fs-32);
  color: var(--text-accent);
  margin-bottom: var(--px-32);
}

/* About */

.about__text {
  font-weight: 400;
  font-size: var(--fs-18);
  line-height: 194%;
  text-align: justify;
  color: var(--text-main);
  margin-bottom: var(--px-32);
}

.about__image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--px-12);

  img {
    width: 100%;
    aspect-ratio: 1100 / 618;
    object-fit: cover;
  }

  p {
    font-weight: 400;
    font-size: var(--fs-16);
    color: var(--text-main);
  }
}

/* Timeline – simpel */
.timeline {
  display: flex;
  gap: var(--px-72);
  align-items: center;
  justify-content: center;
}

.timeline__image {
  width: 50%;
  max-width: 382px;
  aspect-ratio: 382/1112;
  object-fit: cover;
}

.timeline__list {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--px-72);
}

.timeline__item {
  display: flex;
  flex-direction: column;
  gap: var(--px-12);
}

.timeline__date {
  font-weight: 600;
  font-size: var(--fs-24);
  line-height: 100%;
  color: var(--text-accent);
}

.timeline__text {
  max-width: 415px;
  font-weight: 700;
  font-size: var(--fs-18);
  line-height: 125%;
  color: var(--text-main);
}

/* Gallery – ohne Interaktion */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--px-24);
}

.gallery__item {
  margin: 0;
  width: 100%;
  padding: 16px;
  border-radius: var(--r);
  overflow: hidden;
  background: var(--bg-tertiary);
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.gallery__item img {
  width: 100%;
  aspect-ratio: 318 / 441;
  object-fit: cover;
  margin-bottom: 8px;
}

.gallery__item figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-16);
  line-height: 167%;
  text-align: center;
  font-weight: 400;
  color: var(--text-main);

  span {
    font-size: var(--fs-18);
    font-weight: 700;
    color: var(--text-accent);
  }
}

/* Footer */
.site-footer {
  background-color: var(--bg-secondary);
  padding: var(--px-24) 0;
}

.footer__meta {
  font-weight: 400;
  font-size: var(--fs-16);
  line-height: 156%;
  text-align: center;
  color: var(--text-secondary);
}

/* Basic Responsivität */
@media (max-width: 900px) {
  .hero__grid {
    grid-template-columns: 1fr;
  }
  .section__grid {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 560px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  .timeline__item {
    grid-template-columns: 1fr;
  }
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
